.login .formkit-form {
    .formkit-input {
        all: unset;
        border-radius: var(--border-radius-md);
        background-color: var(--information-color);
        padding: var(--default-padding);
        color: var(--text-color);
        width: 70vw;
        max-width: 400px;
        box-sizing: border-box;
        border: 2px solid var(--inactive-color);
    }

    .formkit-label {
        color: var(--text-secondary-color);
    }

    button.formkit-input {
        background-color: var(--information-color);
        color: var(--text-secondary-color);
        text-align: center;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(3.4rem + 2 * 3px);
    border-radius: var(--border-radius-md);
    padding: var(--spacer-xxsm);
    box-sizing: border-box;
    cursor: pointer;
}

.button--main {
    background-color: var(--accent-color);
    color: var(--text-secondary-color);
    border: 3px solid var(--accent-color);
}

.button--main:hover {
    @extend .button--secondary;
}

.button--secondary {
    background-color: transparent;
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
}

.formkit-messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.formkit-message {
    @include font-form-message(var(--accent-color), left)
}

.formkit-actions {
    display: none;
}

.formkit-input {
    font-size: 1.6rem;
    border: 2px solid var(--inactive-color);
}

.formkit-input:not([type="color"]) {
    padding: 1rem;
}

.close {
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--inactive-color) !important;
}
