.page__title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.page__subtitle {
    margin-left: var(--default-padding);
    margin-right: var(--default-padding);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.border-bottom {
    border-bottom: 2px solid var(--secondary-color);
}

.page__subtitle--main {
    width: 100%;
    margin-right: 5vw;
    @extend .border-bottom;
}

.page__subtitle--secondary {
    width: 25vw;
    @extend .border-bottom
}