.page__title {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 2.6rem;
    margin-left: var(--default-padding);
    color: var(--text-color);
}

.page__subtitle {
    margin-left: var(--default-padding);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.border-bottom {
    border-bottom: 2px solid var(--secondary-color);
}

.page__subtitle--main {
    width: 100%;
    margin-right: var(--default-padding);
    color: var(--text-color);
    @extend .border-bottom;
}

.page__subtitle--secondary {
    width: 25vw;
    margin-left: var(--default-padding);
    margin-right: var(--default-padding);
    color: var(--text-color);
    @extend .border-bottom
}