@import url(https://fonts.googleapis.com/css?family=Nunito);
:root {
  --app-bar-height: 60px;
  --app-bar-bg-color: #fff;
  --app-footer-height: 50px;
  --tab-bar-bg-color: #ffffff;
  --tab-bar-active-color: var(--accent-color);
  --default-margin: 0.5rem;
  --default-padding: 0.5rem;
  --drawer-bg-color: rgb(255, 255, 255);
  --drawer-invisible-background-color: rgba(0, 0, 0, 0.7);
  --footer-height: 3.5rem;
  --header-height: 6rem;
  --main-max-width: 992px;
  --rgb-primary-color: 49, 65, 120;
  --rgb-secondary-color: 231, 33, 40;
  --rgb-accent-color: 249, 59, 88;
  --rgb-text-color: 58, 60, 61;
  --rgb-inactive-color: 146, 145, 148;
  --rgb-background-color: 255, 255, 255;
  --rgb-information-color: 240, 240, 240;
  --primary-color: rgba(var(--rgb-primary-color), 1);
  --secondary-color: rgba(var(--rgb-secondary-color), 1);
  --accent-color: rgba(var(--rgb-accent-color), 1);
  --text-color: rgba(var(--rgb-text-color), 1);
  --text-secondary-color: rgba(var(--rgb-text-color-secondary), 1);
  --inactive-color: rgba(var(--rgb-inactive-color), 1);
  --background-color: rgba(var(--rgb-background-color), 1);
  --information-color: rgba(var(--rgb-information-color), 1);
  --border-color: rgba(var(--rgb-border-color), 1);
  --spacer-xxsm: 0.5rem;
  --spacer-xsm: 1rem;
  --spacer-sm: 2rem;
  --spacer-rg: 4rem;
  --spacer-md: 6rem;
  --spacer-lg: 8rem;
  --spacer-xl: 10rem;
  --spacer-xxl: 12rem;
  --column-gap: 2rem;
  --border-radius-rg: 6px;
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 32px;
  --border-radius-round: 100%;
  --border-color: var(--grey);
  --border-type: solid;
  --border-rg: var(--border-size-rg) var(--border-type) var(--border-color);
  --shadow-rg: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-family: Montserrat sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", Courier, monospace;
}

html,
body {
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: var(--app-bar-height) 0 0 0;
}

.login .formkit-form .formkit-input {
  all: unset;
  border-radius: var(--border-radius-md);
  background-color: #182047;
  padding: var(--default-padding);
  margin-bottom: 2rem;
  color: #5E6C9D;
  width: 70vw;
  margin-top: 1rem;
}
.login .formkit-form .formkit-label {
  color: #fff;
}
.login .formkit-form .formkit-outer {
  margin-top: 4rem;
}
.login .formkit-form button.formkit-input {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
}

.page__title, .menu__title, .module__title {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 2.6rem;
  margin-left: var(--default-padding);
  color: var(--text-color);
}

.page__subtitle {
  margin-left: var(--default-padding);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.border-bottom, .menu__title, .module__title, .page__subtitle--secondary, .page__subtitle--main {
  border-bottom: 2px solid var(--secondary-color);
}

.page__subtitle--main {
  width: 100%;
  margin-right: var(--default-padding);
  color: var(--text-color);
}

.page__subtitle--secondary {
  width: 25vw;
  margin-left: var(--default-padding);
  margin-right: var(--default-padding);
  color: var(--text-color);
}

.module__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.module__group {
  margin-bottom: 3rem;
}

.menu__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
