@use '../../abstracts/variables'as v;

@mixin day-number-month-layout {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.main--calendar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    height: 100%;

    .formkit-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
    }



    .calendar {
        position: relative;
        margin: 0 var(--column-gap);
    }


    .formkit-label {
        @include font-title-subject(var(--text-color), left);
    }

    .popup__button-wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-flow: column;
        grid-gap: v.$border-radius;
        width: calc(100% - 2rem);
        padding: 0 1rem;
        margin: auto 0 2.4rem 0;
        justify-content: center;
        box-sizing: border-box;
    }

    .button {
        @include button;
        width: 100%;
        margin: 0 auto;
        max-width: 16rem;
    }

    .button--cancel {
        grid-column: 1 / 4;
    }

    .button--edit {
        grid-column: 5 / 8;
    }

    .button--delete {
        grid-column: 1 / 4;
    }

    .button--save {
        grid-column: 5 /8;
    }

    hr {
        border-top: 1px solid var(--primary-color);
        width: 100%;
    }

    .formkit-input {
        width: 100%;
        color: var(--text-color);
        background-color: var(--information-color);
        border: none;
        border-radius: v.$border-radius;
        min-height: 4.1rem;
        box-sizing: border-box;
    }

    .formkit-input[type="submit"] {
        display: none;
    }

    .formkit-outer {
        width: 100%;
    }

    .formkit-form {
        width: 100%;
    }

    //*2# Calendar Header
    // ==========================================================================

    .calendar__header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: v.$calendar-gap;
        margin: 0 0 2rem 0;

        button {
            border: none;
            background: none;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--accent-color);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        button::before {
            content: attr(data-name);
            width: 100%;
            position: relative;
            font-size: 1rem;

        }

        button:nth-child(1) {
            grid-column: 1 / 2;
        }

        button:nth-child(2) {
            grid-column: 2 / 3;
        }

        button:nth-child(3) {
            grid-column: 3 / 4;
        }

        button:nth-child(4) {
            grid-column: 5 / 6;
        }

        button:nth-child(5) {
            grid-column: 6 / 7;
        }

        button:nth-child(6) {
            grid-column: 7 / 8;
        }

        .material-icons {
            font-size: 3rem;
        }
    }


    .calendar__date {
        display: block;
        align-items: center;
        height: v.$date-wrapper-height;
        @include font-h1(var(--text-color), unset)
    }

    .date-separator {
        margin: 0 1rem;
    }

    //*2# Calendar day
    // ==========================================================================

    .calendar__day-date {
        font-size: 0.8rem;
        text-align: left;
        padding: 0.5rem;
        opacity: 0.5;
    }

    //*2# Events
    // ==========================================================================

    .calendar__no-events {
        position: absolute;
        z-index: -1;
        width: 100%;
        text-align: center;
    }

    .event__infos {
        display: flex;
        padding: 0.5rem;
    }

    .event__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .event__title,
    .event__date {
        margin: 0.2rem 0;
    }

    .event__time {
        background-color: red;
        height: 1.8rem;
        border-radius: 16px;
        color: var(--text-secondary-color);
        padding: 0 0.5rem;
        margin: auto 0;
        text-align: center;
    }

    .event__dot {
        width: v.$dot-size;
        height: v.$dot-size;
        background-color: red;
        border-radius: 50%;
        margin: auto 0.5rem;
    }

}

@media (max-width:400px) {
    .main--calendar .calendar__header {
        grid-template-columns: repeat(4, 1fr);

        button:nth-child(1) {
            grid-column: 1 / 2;
        }

        button:nth-child(2) {
            grid-column: 2 / 3;
        }

        button:nth-child(3) {
            grid-column: 3 / 4;
        }

        button:nth-child(4) {
            grid-column: 4 / 5;
        }

        button:nth-child(5) {
            grid-column: 5 / 6;
        }

        button:nth-child(6) {
            grid-column: 6 / 7;
        }
    }
}


.calendar__wrapper-date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.calendar__button-period {
    color: var(--accent-color);

    button span{
        padding : 1rem;
    }
}