@use '../../abstracts/variables'as v;

.calendar--day {
    display: grid;
    height: 100%;
    grid-row: 1/3;
    overflow: hidden;
    display: inline-grid;
    height: 100%;
    grid-template-rows: min-content min-content;

    .calendar__days-names {
        display: none;
    }
}


.calendar__days--day {
    grid-template-columns: 1fr;

    .calendar__day {
        flex-direction: row;
        border: none;
        position: relative;
        text-align: center;
        margin: 0 0 0 6rem;
    }

    .calendar__day-number {
        width: 4rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -6rem;
    }

    .calendar__events {
        width: 100%;
        border-left: v.$border-width solid var(--text-color);
    }

    .calendar__event {
        display: flex;
        color: var(--text-color);
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem 0 0 3.8rem;
        background-color: red;
        border-radius: v.$border-radius;
        text-overflow: ellipsis;
        position: relative;
    }

    .calendar__event:not(.is-heig-calendar) {
        color: var(--text-secondary-color);
    }

    .calendar__event[data-bullet="true"]::before {
        $height: 30px;
        content: attr(data-time);
        position: absolute;
        left: -10rem;
        width: 36px;
        top: calc(50% - ($height / 2));
        height: $height;
        display: flex;
        align-items: center;
        @include font-calendar-month-name-time-event(var(--text-color), center);
    }

    .calendar__event[data-bullet="true"]::after {
        $size: 1.6rem;
        content: "";
        position: absolute;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: var(--text-color);
        top: calc(50% - ($size / 2));
        left: calc((3.8rem * -1) - ($size/2) - 1px);
    }

    .event__header {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        @include font-calendar-month-name-time-event(var(--text-color), unset);
    }

    .event__title {
        grid-column: 1 /3;
        text-align: left;
    }

    .event__location {
        grid-column: 3 / 4;
    }

    .event__description {
        @include font-calendar-day-description-event(var(--text-secondary-color), left);
    }

    .event__time {
        grid-column: 4 / 6;
        width: fit-content;
        margin: 0 0 0 auto;
        padding: 0.2rem 0.5rem;
    }

    .calendar__event:not(.is-heig-calendar) .event__location {
        display: none;
    }

    .calendar__event:not(.is-heig-calendar) .event__title {
        color: var(--text-secondary-color);
    }

    .event__calendar {
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
        @include font-calendar-day-description-event(var(--text-secondary-color), right);
    }

    .is-current-day {
        background-color: unset;
    }

    .is-heig-calendar {
        background-color: v.$heig-planning-color;
    }
}
