.is-display-none {
    display: none !important;
}

.is-display-none {
    display: none !important;
}

.is-clickable-day {
    cursor: pointer;
    pointer-events: all;
    background-color: var(--text-secondary-color);
}

.is-other-month {
    opacity: 0.5;
}

.is-secondary-button {
    background-color: var(--background-color) !important;
    color: var(--accent-color) !important;
    border: 3px solid var(--accent-color) !important;
}

.is-selected-day {}
