//⚠️ variables values are yet only exemples and need to be replaced
// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
:root {
    --app-bar-height: 60px;
    --app-bar-bg-color: #fff;
    --tab-bar-bg-color: #e0e0e0;
    --tab-bar-active-color: #8ed5df;
    --default-margin: 0.5rem;
    --default-padding: 0.5rem;
    --drawer-bg-color: rgb(255, 255, 255);
    --drawer-invisible-background-color: rgba(0, 0, 0, 0.7);
    // Sizes
    --footer-height: 3.5rem;
    --header-height: 6rem;
    --main-max-width: 992px;
    // Colors
    --primary-color: rgba(var(--rgb-primary-color), 1);
    --secondary-color: rgba(var( --rgb-secondary-color), 1);
    --background-color: rgba(var(--rgb-background-color), 1);
    --information-color: rgba(var(--rgb-information-color), 1);
    --text-color: rgba(var(--rgb-text-color), 1);
    --accent-color: rgba(var(--rgb-accent-color), 1);
    // Spacer
    --spacer-xxsm: 0.5rem;
    --spacer-xsm: 1rem;
    --spacer-sm: 2rem;
    --spacer-rg: 4rem;
    --spacer-md: 6rem;
    --spacer-lg: 8rem;
    --spacer-xl: 10rem;
    --spacer-xxl: 12rem;
    // Border
    --border-size-rg: 1px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 32px;
    --border-radius-round: 100%;
    --border-color: var(--grey);
    --border-type: solid;
    --border-rg: var(--border-size-rg) var(--border-type) var(--border-color);
    // Shadow
    --shadow-rg: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-family: Montserrat sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
}